.button {
    width: 100px;
    height: 50px;
    background-color: var(--primary-light);
    border: none;
    border-radius: 8px;
    transition: all .4s;
}

.button:hover {
    background-color: var(--primary-hover);
}
