/* Content list */
.section {
	padding: 40px 0;
}

.content-list {
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
    list-style: none;
    padding: 0;
}

.content-list a {
	color: var(--accent);
}

.content-list__item {
	font-size: 18px;
	line-height: 1.5;
  
}

.title-2 {
    font-size: 2em;
}

.content-list__item div + div,
.content-list__item p + p {
	margin-top: 0.5em;
}
